:root {
  --bg1: #f5dbe5;
  --bg2: #eec9d8;
  --bg3: #e4b8cb;

  --card: rgba(255,255,255,0.4);
  --text: #5c2a45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  font-family: 'Comfortaa', sans-serif;
  overflow-x: hidden;
  background: linear-gradient(180deg, var(--bg1), var(--bg2), var(--bg3));
  color: var(--text);
}

.screen {
  height: 100vh;
  scroll-snap-align: start;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.card {
  background: var(--card);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  backdrop-filter: blur(8px);
}

h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}

.hearts {
  margin-top: 10px;
  font-size: 22px;
}

.scroll {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.7;
}

/* 💌 теперь в том же стиле */
.letter-card {
  background: var(--card);
  backdrop-filter: blur(8px);

  padding: 25px;
  border-radius: 20px;
  max-width: 90%;
}

/* лепестки */
.petal {
  position: fixed;
  top: -10px;

  width: 12px;
  height: 12px;

  background: linear-gradient(145deg, #ff6fa5, #ffb3cc);

  border-radius: 70% 30%;

  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(110vh) rotate(360deg);
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 22px;
  }

  p {
    font-size: 15px;
  }

  .card {
    padding: 20px;
  }
}
